<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900905002438-7eiagspe1d2l90vqhkcvgr3rvk5lk7i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900905002438-7eiagspe1d2l90vqhkcvgr3rvk5lk7i0</string>
	<key>API_KEY</key>
	<string>AIzaSyCwhKYtMvYTWPDNi28DWVvc-rGSvEUQ-x0</string>
	<key>GCM_SENDER_ID</key>
	<string>900905002438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EmrahKarabulut.RaccoonGram</string>
	<key>PROJECT_ID</key>
	<string>raccoongram-a200a</string>
	<key>STORAGE_BUCKET</key>
	<string>raccoongram-a200a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900905002438:ios:b4c8197b6aac949a7f3ec7</string>
</dict>
</plist>